# ETL de datos de importación de productos

## Instalación de librerías base

In [36]:
# Realizamos la importación de las librerias que vamos a utilizar para realizar la extraccion
import pandas as pd
from sqlalchemy import create_engine
import uuid

## Extraction

In [37]:
# Realizamos una ruta de extraccion de una base SQL
engine = create_engine('postgresql+psycopg2://postgres:mysecretpass@localhost/postgres')
# Guardamos todos '*' los datos (filas, columnas) en una variable
df_trades = pd.read_sql("select * from trades", engine)

In [38]:
# Vamos a leer un archivo JSON con la libreria pandas
df_countries=pd.read_json('C:/Users/jfmur/OneDrive/Escritorio/platzi/country_data.json')

In [39]:
## Vamos a leer un archivo CSV con la libreria pandas
df_codes=pd.read_csv('C:/Users/jfmur/OneDrive/Escritorio/platzi/hs_codes.csv')

In [40]:
#Creamos un DF en base a df_codes, para que el Level == 2 
df_parents = df_codes[df_codes['Level']==2].copy()

## Transform

#### Clean codes

In [41]:
# Buscamos valores no nulos del DF 'df_codes' en la columna 'Code_comm'
df_codes = df_codes[df_codes['Code_comm'].notnull()]
df_codes.head()

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding)

In [42]:
def clean_codes(text):      # Creamos una funcion 'clean_codes' recibe una variable tipo (text)
    text = str(text)       # Convertirmos cualquier dato (text), lo convertimos en un STRING   
    parents_code= None       #Creamos una variable aleatoria 

    if len(text) ==11:       #Si la longitud de (text) es ==11

        code = text [:5]             # En una variable 'code' guardo los 5 primeros digitos '[:5]' 
        parent_code = text[:1]       # En una variable 'parent_code' guardo el primero digito '[:]' 
    else:
        code =text[:6]     # En una variable 'code' guardo los 6 primeros digitos '[:6]' 
        parent_code = text[:2]   # En una variable 'code' guardo los 2 primeros digitos '[:2]' 
    try:
        parent = df_parents[df_parents['Code_comm']==parent_code ]['Description'].values[0]  # En la variable parents del DF 'df_parents' comparo 'parent_code'
                                                                                             # con 'Code_com' y solo quiero los valores la columna 'Descriptcion'
    except:
        parent = None              # No trae nada
    return (code, parent)          # Trae una Tupla de con las columnas 'code' y 'parent'

In [43]:
# Adicionamos 2 Columnas nuevas 'clean_code' y 'parent_description' donde estos valores son de la funcion 'clean_codes'
df_codes[['clean_code', 'parent_description']] = df_codes.apply( lambda x: clean_codes(x['Code']), axis=1, result_type='expand')
df_codes.head()

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description,clean_code,parent_description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS,10011,LIVE ANIMALS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS,10021,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies",10100,LIVE ANIMALS
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses,10121,LIVE ANIMALS
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding),10129,LIVE ANIMALS

In [26]:
#En el DF 'df_codes' con la columna 'clean code' quiero los datos no nulos y traeme solo las columnas 'clean_code','Description', 'parent_description'
df_codes= df_codes[df_codes['clean_code'].notnull()][['clean_code','Description', 'parent_description']]

In [79]:
df_codes['id_code'] = df_codes.index + 1

In [17]:
df_codes['clean_code']= df_codes['clean_code'].astype('int64')

### Clean Countries

In [19]:
df_countries=df_countries[['alpha-3','country','region','sub-region']]

In [20]:
df_countries = df_countries[df_countries['alpha-3'].notnull()]

In [22]:
df_countries['id_country'] = df_countries.index + 1

### Merge
En esta sección terminamos de limpiar los codigos de los productos y los codigos de los paises y ademas se realizo un merge a nuestro DF principal que son todas las transacciones que se hacen en distintos paises de importacion o exportacion, asignando un ID unico por cada registro que tenemos para la Base de datos

In [35]:
df_trades_clean = df_trades.merge(df_codes[['clean_code', 'id_code']], how ='left', left_on ='comm_code', right_on = 'clean_code')

In [36]:
df_trades_clean = df_trades.merge(df_countries[['alpha-3', 'id_country']], how ='left', left_on ='country_code', right_on = 'alpha-3')

In [37]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,alpha-3,id_country
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,SYC,155
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,SYC,155
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,SYC,155
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,SYC,155
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,SYC,155
...,...,...,...,...,...,...,...,...,...,...
12432701,SYC,1999,890590,Import,3399.0,0.0,283.0,Number of items,SYC,155
12432702,SYC,1999,890600,Import,816.0,0.0,199.0,Number of items,SYC,155
12432703,SYC,1999,890710,Import,31387.0,0.0,1325.0,Number of items,SYC,155
12432704,SYC,1999,890790,Import,8749.0,0.0,1566.0,Number of items,SYC,155
12432705,SYC,1998,890110,Import,1162965.0,0.0,59920.0,Number of items,SYC,155

### Clean trades

Terminamos con las transformaciones necesarias de las transacciones de importacion y exportacion de distintos paises, se creo una tabla que solo tiene metricas necesarias (USD - KG - CANTIDADES , ETC) tambien una llave para poder relacionarla con las distintas dimensiones.

In [58]:
def create_dimension(data,id_name):
    list_keys = []
    value = 1
    for _ in data:
        list_keys.append(value)
        value = value + 1
    return pd.DataFrame({id_name:list_keys, 'values':data})

In [59]:
df_quantity = create_dimension(df_trades_clean['quantity_name'].unique(),'id_quantity')
df_flow = create_dimension(df_trades_clean['flow'].unique(),'id_flow')
df_year = create_dimension(df_trades_clean['year'].unique(),'id_year')

In [73]:
# Merge df_trades_clean with df_quantity
df_trades_clean = df_trades_clean.merge(df_quantity, how='left', left_on='quantity_name', right_on='values', suffixes=('', '_quantity'))

# Merge df_trades_clean with df_flow
df_trades_clean = df_trades_clean.merge(df_flow, how='left', left_on='flow', right_on='values', suffixes=('', '_flow'))

# Merge df_trades_clean with df_year
df_trades_clean = df_trades_clean.merge(df_year, how='left', left_on='year', right_on='values', suffixes=('', '_year'))

In [75]:
df_trades_clean['id_trades'] = df_trades_clean.index + 1

In [83]:
df_trades_final = df_trades_clean [['id_trades', 'trade_usd', 'kg', 'quantity', 'id_country', 'id_quantity', 'id_flow', 'id_year', ]].copy()

In [84]:
df_countries = df_countries[['id_country', 'alpha-3', 'country', 'region', 'sub-region']]

In [85]:
df_codes = df_codes [['id_code', 'clean_code', 'Description', 'parent_description']]

## Load

In [87]:
df_trades_final.to_csv('C:/Users/jfmur/OneDrive/Escritorio/platzi/trades.csv', index=False, sep = '|')
df_countries.to_csv('C:/Users/jfmur/OneDrive/Escritorio/platzi/countries.csv', index=False, sep = '|')
df_codes.to_csv('C:/Users/jfmur/OneDrive/Escritorio/platzi/codes.csv', index=False, sep = '|')
df_quantity.to_csv('C:/Users/jfmur/OneDrive/Escritorio/platzi/quantity.csv', index=False, sep = '|')
df_flow.to_csv('C:/Users/jfmur/OneDrive/Escritorio/platzi/floew.csv', index=False, sep = '|')
df_year.to_csv('C:/Users/jfmur/OneDrive/Escritorio/platzi/year.csv', index=False, sep = '|')

In [ ]:
#import os
#import boto3